name: PHPUnit Tests & Coverage for Weighted Random

on:
  push:        # runs on push to any branch
  pull_request: # runs on PRs against any branch

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [8.2, 8.3, 8.4]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug
          tools: composer:v2

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist --no-progress --ignore-platform-reqs

      - name: Run PHPUnit with coverage
        run: vendor/bin/phpunit --configuration phpunit.xml --colors=always

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
